.dw-box{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid;clear:both;margin:15px 0;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1),0 1px 0 #FFFFFF inset,0 -1px 0 #FFFFFF inset;-moz-box-shadow:0 0 3px rgba(0,0,0,0.1),0 1px 0 #FFFFFF inset,0 -1px 0 #FFFFFF inset;box-shadow:0 0 3px rgba(0,0,0,0.1),0 1px 0 #FFFFFF inset,0 -1px 0 #FFFFFF inset}
.dw-box-blue,.dw-box-green,.dw-box-grey,.dw-box-red,.dw-box-tan,.dw-box-yellow{padding:15px}
.dw-box-blue{background-color:#dbe7f8;border-color:#b7d2f2}
.dw-box-green{background-color:#f2f9e5;border-color:#ddedbc}
.dw-box-grey{background-color:#f2f2f2;border-color:#e5e5e5}
.dw-box-red{background-color:#ffdfdf;border-color:#feabab}
.dw-box-tan{background-color:#fef8e1;border-color:#feebab}
.dw-box-yellow{background-color:#ffffd5;border-color:#feebab}
.dw-box-alert,.dw-box-warning,.dw-box-download,.dw-box-info,.dw-box-tip{padding:15px 20px 15px 55px}
.dw-box-alert{background:#ffdfdf url("../images/box-alert.png") no-repeat 16px;border-color:#feabab;color:#c31b00}
.dw-box-warning{background:#ffea97 url("../images/box-warning.png") no-repeat 16px;border-color:#E1B400;color:#B69203}
.dw-box-download{background:#BEDEFF url("../images/box-download.png") no-repeat 16px;border-color:#8EB7E1;color:#5075AC}
.dw-box-info{background:#e7e7e7 url("../images/box-info.png") no-repeat 16px;border-color:#aaa;color:#333}
.dw-box-tip{background:#EFF4D4 url("../images/box-tip.png") no-repeat 16px;border-color:#779B39;color:#779B39}